<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{topic_title}} - {{title}}</title>
    <style>
        .name {
            color: green;
        }
        
        pre {
            margin: 0;
            padding: 0;
        }

        .image-post {
            width: 100%;
            max-width: 550px;
            height: auto;
        }
        .random {
            color: orange;
        }
    </style>
</head>
<body style="background-color: #efefef;">
    <small style="color: #444;">{{bbs_title}}</small><br>
    <a href="{{baseurl|safe}}/{{bbs_id}}/">■板に戻る</a>
    &nbsp;|&nbsp;
    <a href="{{baseurl|safe}}">■{{title}}</a>
    <hr>
    <h1 style="color: red;">{{topic_title}}</h1>
    <div id="topic_data">
    {% for post in posts %}
        <dl>
            <dt>
                <a onclick="reply('{{loop.index}}')">{{loop.index}}</a>:&nbsp;
                <b class="name">{{post.name|safe}}</b>:&nbsp;
                <span>{{post.datetime}}</span>&nbsp;&nbsp;
                {% if not hide_id %}
                <span>ID:&nbsp;<span>{{post.id}}</span></span>
                {% endif %}
            </dt>
            <dd><pre>{{post.body|safe}}</pre></dd>
        </dl>
    {% endfor %}
    </div>
    <hr>
    <a href="{{baseurl|safe}}/{{bbs_id}}/">■板に戻る</a>
    &nbsp;|&nbsp;
    <a href="{{baseurl|safe}}">■{{title}}</a>
    {% if password_enable %}
    &nbsp;|&nbsp;
    <span style="color: red">⚠パスコードが必要です</span>
    {% endif%}
    <hr>
    <div style="background-color: #ccc; padding:10px;">
        <table>
            {% if password_enable %}
            <tr><td><label for="mt-password">パスコード:</label></td>
            <td><input type="text" id="mt-password"></td></tr>
            {% else %}
            <input type="hidden" id="mt-password" value="">
            {% endif%}
            <tr><td><label for="mt-name">お名前: </label></td>
            <td><input type="text" id="mt-name"></td></tr>
        </table>
        <label for="mt-body">本文:</label><br>
        <textarea id="mt-body" style="width: 100%;" rows="4" name="body"></textarea>
        <button style="width: 100%; height:50px;" onclick="post()">書き込み</button>
        <br><br>
        <label for="mt-cmd-args">引数: </label>
        <input type="text" id="mt-cmd-args"><br>
        <button onclick="cmd('Img')">画像</button>&nbsp;
        <button onclick="cmd('URL')">URL</button>

    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    const mt_body = document.getElementById("mt-body");
    const mt_name = document.getElementById("mt-name");
    const mt_password = document.getElementById("mt-password");
    const topic_data = document.getElementById("topic_data");


    function post() {
        $.ajax({
            url: "{{baseurl|safe}}/{{bbs_id}}/make/post/{{topic_id}}",
            type: "POST",
            data: {
                name: mt_name.value,
                body: mt_body.value,
                password: mt_password.value,
            },
            success: ()=>{
                mt_body.value = "";
            },
            error: (_, e)=>{
                alert(e);
            }
        })
    }

    function reply(to) {
        mt_body.value = `>>${to}\n${mt_body.value}`
    }

    function cmd(cmd) {
        var mt_cmd_args = document.getElementById("mt-cmd-args");
        mt_body.value = `!${cmd}:${mt_cmd_args.value}\n${mt_body.value}`;
        mt_cmd_args.value = "";
    }

    function long_poll() {
        $.ajax({
            url: "{{baseurl|safe}}/{{bbs_id}}/poll/{{topic_id}}",
            type: "GET",
            success: (d)=>{
                console.log(d);
                long_poll();

                var index = topic_data.querySelectorAll("dl").length + 1;

                var topic = document.createElement("dl");

                topic.innerHTML=`<dl>
    <dt>
        <a onclick="reply('${index}')">${index}</a>:&nbsp;
        <b class="name">${d.name}</b>:&nbsp;
        <span>${d.datetime}</span>&nbsp;&nbsp;
        {% if not hide_id %}
        <span>ID:&nbsp;<span>${d.id}</span></span>
        {% endif %}
    </dt>
    <dd><pre>${d.body}</pre></dd>
</dl>`

                topic_data.appendChild(topic);
            },
            cache: (e) => {
                console.error(e);
                setTimeout(long_poll, 5000);
            }
        })
    }

    long_poll()
</script>
</html>